<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show comment</title>
    <style>
        a{
            text-decoration: none;
            color: rgb(5, 4, 4);
            padding: 10px;
            background-color: rgb(124, 195, 219);
            border-radius: 5px;
            margin-top: 1rem;
            margin-left: 1rem;
            position: absolute;
        }
        a:hover{
            background-color: rgb(48, 126, 151);
        }
    </style>
</head>
<body>
    <h1>show comment id: <%= comment.id %></h1>
    <h2><%= comment.comment %> - <%= comment.username %></h2>
    <a href="/comments">back</a>
</body>
</html>